build
target
.idea
*.iws
*.iml
*.ipr
**package-lock.json
**/node_modules
**/.idea
**/dist
**/.vscode
last-commit
**/*.rpm
rpm-tmp.*
BUILDROOT


**/.~lock*

**/Debug*/
**/.metadata
#**.project
**.classpath
#**.settings
**.factorypath

# Python
venv
__pycache__

*.bin


.~lock.*#


**/rest-client.private.env.json
env-key.sh