<div class="w-100">
  <div class="row w-100">
    <nb-card class="inline-form-card w-100">
      <nb-card-header>Add here your new Connection</nb-card-header>
      <nb-card-body>
        <form [formGroup]="newConnectionFormGroup" class="form-inline">

          <nb-select formControlName="gitProvider">
            <nb-option [value]="GitProvider.GITLAB">GITLAB</nb-option>
            <nb-option [value]="GitProvider.GITHUB">GITHUB</nb-option>
          </nb-select>

          <div class="col-md-3">
            <input
              type="text"
              nbInput fullWidth
              class="form-control full-width"
              placeholder="Endpoint"
              formControlName="endpoint"
              required>
          </div>

          <div class="col-md-3">
            <input
              type="text"
              nbInput fullWidth
              class="form-control full-width"
              placeholder="Connection name"
              formControlName="name"
              required>
          </div>

          <input
            type="text"
            formControlName="token"
            nbInput fullWidth
            class="form-control"
            placeholder="Personal Access Token">

          <button
            type="submit"
            nbButton
            status="primary"
            (click)="createConnection()"
            [disabled]="newConnectionFormGroup.invalid || pendingRequest">Create
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="row w-100 mt-2">
    <nb-card class="w-100">
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
