<div class="w-100">
  <div class="row">
    <div class="col-md-6" style="max-height: 300px; overflow: auto">
      <input class="mb-2" type="text" nbInput fullWidth  placeholder="Search...">

      <div class="w-100" *ngFor="let g of gitraces">
        <nb-checkbox>{{g.gitRepoUrl}}</nb-checkbox>
      </div>
    </div>
    <div class="col-md-6" style="max-height: 300px; overflow: auto">
      <input class="mb-2" type="text" nbInput fullWidth  placeholder="Search...">
      <div class="w-100" *ngFor="let tv of testVectors">
        <nb-checkbox>{{tv.fileName}}</nb-checkbox>
      </div>
    </div>
  </div>
</div>
