nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.delete-repository nb-card {
  max-width: 300px !important;
  min-width: 300px !important;
  max-height: 44.25rem;
}

.add-repository nb-card {
  max-width: 900px !important;
  min-width: 900px !important;
  max-height: 44.25rem;
}
