<div class="w-100">
  <div class="row w-100">
    <nb-card class="inline-form-card w-100">
      <nb-card-header>Add new Moon Cloud Probes dependency to monitoring</nb-card-header>
      <nb-card-body>
        <form [formGroup]="newGitraceFormGroup" class="form-inline">

          <div class="col-md-1">
            <nb-select formControlName="gitProvider">
              <nb-option [value]="GitProvider.GITLAB">GITLAB</nb-option>
              <nb-option [value]="GitProvider.GITHUB">GITHUB</nb-option>
            </nb-select>
          </div>

          <div class="col-md-3">
            <input
              type="text"
              nbInput fullWidth
              class="form-control full-width"
              placeholder="Repository link"
              formControlName="gitRepoUrl"
              required>
            <div class="position-absolute text-danger small" *ngIf="newGitraceFormGroup.controls.gitRepoUrl.dirty &&
            newGitraceFormGroup.controls.gitRepoUrl.hasError('invalidUrl')">
              GIT url must end with .git extension
            </div>
          </div>

          <div class="col-md-2">
            <nb-select class="w-100" placeholder="Connection" formControlName="connectionId">
              <nb-option [value]="null">None</nb-option>
              <nb-option *ngFor="let c of connections" [value]="c.id">{{c.name}}</nb-option>
            </nb-select>
          </div>

          <div class="col-md-3">
            <input
              type="text"
              nbInput fullWidth
              class="form-control"
              placeholder="Description"
              formControlName="gitDescription">
          </div>

          <div class="col-md-2">
            <button
              type="submit"
              nbButton
              status="primary"
              (click)="createNewGitrace()"
              [disabled]="newGitraceFormGroup.invalid || pendingRequest">Create
            </button>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="row w-100 mt-2">
    <nb-card class="w-100">
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
