<div class="row">
  <div class="col-md-3">
    <ngx-card [icon]="'layers-outline'" [value]="statistics?.testVectors" [entity]="'Test vectors'"></ngx-card>
  </div>
  <div class="col-md-3">
    <ngx-card [icon]="'code-outline'" [value]="statistics?.gitraces" [entity]="'Repositories'"></ngx-card>
  </div>
  <div class="col-md-3">
    <ngx-card [icon]="'moon-outline'" [value]="statistics?.userTests" [entity]="'Moon cloud tests'"></ngx-card>
  </div>
  <div class="col-md-3">
    <ngx-card [icon]="'bell-outline'" [value]="statistics?.notifications" [entity]="'Notifications'"></ngx-card>
  </div>
</div>
