<div class="row">
  <div class="col-md-9">
    <iframe
      class="w-100"
      src="https://docs.google.com/presentation/d/e/2PACX-1vRqeqyc7LkRbfREyZvxtnAJqaIbD-gTI4TaPWyxERdS0A5DQ8irUvKv1bJrWPGu9vjOy50zuARDgBkW/embed?start=false&loop=false&delayms=3000"
      frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true"
      webkitallowfullscreen="true"></iframe>
  </div>
  <div class="col-md-3">
    <div>
      <ngx-card [icon]="'layers-outline'" [value]="statistics?.testVectors" [entity]="'Test vectors'"></ngx-card>
    </div>
    <div>
      <ngx-card [icon]="'code-outline'" [value]="statistics?.gitraces" [entity]="'Repositories'"></ngx-card>
    </div>
    <div>
      <ngx-card [icon]="'moon-outline'" [value]="statistics?.userTests" [entity]="'Moon cloud tests'"></ngx-card>
    </div>
    <div>
      <ngx-card [icon]="'bell-outline'" [value]="statistics?.notifications" [entity]="'Notifications'"></ngx-card>
    </div>
  </div>
</div>
